<%- include('./partials/header') %>

<div class="container">
  <h3>Just Login-Register</h3>
  <h4>Secret Page</h4>

  <p>Congratullations!!! <%= username %>, you have reached the secret page</p>

</div>

<%- include('./partials/footer') %>